.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-left: 0px;
}
.navigation-text-in {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-oneandhalfunits);
}


@media(max-width: 767px) {
  .navigation-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-text-in {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 767px) {
  .header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
}
@media(max-width: 479px) {
  .header {
    padding: var(--dl-space-space-unit);
  }
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: #ddfeff;
}
.header {
  height: 50px;
  display: flex;
  max-width: 100%;
  align-self: stretch;
  min-height: 25px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.logo {
  height: 3rem;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}











.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: 20px;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}
.home-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: #818181;
  border-width: 1px;
  border-radius: 8px;
  background-color: #ffffff;
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 200px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 8px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.home-dropdown-arrow {
  transition: 0.3s;
}
.home-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.home-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-button {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: stretch;
  margin-left: 20px;
  border-color: #2D9C3C;
  border-radius: 8px;
  background-image: linear-gradient(rgb(52, 170, 68) 0%, rgb(56, 178, 73) 100%);
}
.home-radiobutton {
  margin-left: 20px;
}











.data-4-container {
  gap: 20px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  justify-content: flex-end;
}

.data-2-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.data-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #656565;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(0, 0, 0, 0.5);
}
.data-container02 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #656565;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(0, 0, 0, 0.5);
}

.head-container01 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  border-radius: 20px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.head-container02 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 4px;
  border-radius: 20px;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.head-text01 {
  color: rgb(12, 46, 68);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
}
.head-text02 {
  font-size: 8px;
}
.head-text03 {
  color: #0C2E44;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
}


.body-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  border-radius: 20px;
  flex-direction: column;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.85);
}
.body-container02 {
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  justify-content: space-between;
}
.body-container03 {
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  justify-content: center;
}
.body-container04 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
}
.body-container05 {
  gap: 5px;
  width: auto;
  height: 60px;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.body-container06 {
  flex: 0 0 auto;
  width: 80px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 15px;
  padding-right: 5px;
  flex-direction: column;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.body-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 8px;
  align-items: flex-start;
  border-radius: 20px;
  margin-bottom: 8px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
}
.body-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 15px;
  border-radius: 20px;
  padding-right: 15px;
  background-color: rgba(12, 46, 68, 0.8);
}
.body-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 120px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-top: 4px;
  border-radius: 20px;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  overflow-y: scroll;
}
.body-container10 {
  flex: 0 0 auto;
  height: auto;
 
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: 2px;
  align-items: center;
  margin-left: 5px;
  padding-top: 4px;
  margin-right: 5px;
  padding-left: 4px;
  margin-bottom: 2px;
  padding-right: 4px;
  padding-bottom: 4px;
}
.body-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 4px;
  border-radius: 20px;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  overflow-y: scroll;
}

.xyz-container {
  gap: 20px;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  justify-content: center;
}

.xyz-text {
  color: rgb(12, 46, 68);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.cali-button {
  color: #0C2E44;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  border-color: #0C2E44;
  border-radius: 15px;
}

.body-text01 {
  color: #0c2e44;
  font-size: 12px;
}
.body-text02 {
  color: #0C2E44;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.body-text03 {
  color: #0C2E44;
  padding: 4px;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.body-text04 {
  color: #0C2E44;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  padding-top: 2px;
  padding-left: 2px;
}
.body-text05 {
  left: 0px;
  color: #0C2E44;
  right: 0px;
  bottom: 5px;
  margin: 5px;
  position: absolute;
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.body-text06 {
  color: rgb(12, 46, 68);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  text-transform: uppercase;
}
.body-text07 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.body-text08 {
  color: #0C2E44;
  width: auto;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}


.num-input {
  color: #0C2E44;
  width: 150px;
  height: 20px;
  font-size: 12px;
  margin-left: 5px;
  padding-top: 5px;
  border-color: #7b7b7b;
  border-radius: 20px;
  padding-right: 0px;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.78);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  margin: 12px;
}
 
::-webkit-scrollbar-thumb {
  background: #0c2e4496;
  opacity: 0.5; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c2e44d2; 
}



/*------ 
RADIO -> STATUS INDOCATOR 
------*/
.home-radiobutton4 {
  margin-left: 10px;
  margin-right: 0px;
}
